:root {
  --color: #646cff;
  --bg-color: #ffffff;
  --bg-color-alt: #1a1a1a;
  --light-color: #e7e7e7;
  --text-color: #213547;
}
.dark {
  --bg-color: #242424;
  --bg-color-alt: #1a1a1a;
  --light-color: #535353;
  --text-color: #ffffffde;
}
